body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #492d6e;
    margin: 0;  
}

.intro {
    max-height: 100vh;
    
}

.video {
    position: relative;
    padding-bottom: 56.25%;
}

.background {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    position: absolute;
}


.intro-content {   
    top: 0;
    left: 0;
    position: absolute;
    
}

.container {
  top: 160px;
  position: absolute;
  width: 1000px;
}

.div-logo {
  width: 350px;
  height: 150px;
  display: none;
  padding-top: 25px;
}

.intro-title {
    font-size: 80px;
    color: white;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 200px;
    display: none;
}



.header-logo {
    position: absolute;
    display: none;
    color: white;
    padding-left: 160px;
    padding-top: 30px;
    font-size: 40px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.header-logo:hover { 
  color: rgb(177, 246, 246);
}


.menu {
    position: absolute;
    font-size: 35px;
    display: none;
    color: white;
    right: 110px;
    padding-top: 80px;
    width: 30px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}


.menu:hover { 
  color: rgb(143, 244, 244);
}

section {
  display: none;
  position: absolute;
  min-height: 100vh;
  margin-left: 288px;
  margin-top: -350px;
}



section .text {
  position: absolute;
  color: white;
  font-size: 20px;
  user-select: none;
  pointer-events: none;
  animation: animate 7.5s linear infinite;

}

section .text span {
  position: absolute;
  top: -100px;
  text-transform: uppercase;
  display: inline-block;
  transform-origin: 0 100px;
  }

.text {
  -webkit-transition: color 1s;
  transition: color 1s;
}
  
.text:hover { 
  color: rgb(143, 244, 244);
}






@keyframes  animate {

0% {
  transform: rotate(0deg);
}

100% {
  transform: rotate(360deg);
}
}

.lineUp {
    animation: 3s anim-lineUp ease-out;

  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }




@media (min-width: 1920px) {

  .intro-title {
    padding-top: 130px;
    padding-left: 300px;
  }

  .header-logo {
    padding-left: 310px;
    padding-top: 40px;
    font-size: 50px;
  }

  .menu {
    right: 200px;
    top: 45px;
    font-size: 40px;
  }

  section {
    padding-left: 110px;
    margin-top: -350px;
  }
}